<div th:if="${!league.isBeforeStart()}" class="alert alert-info d-flex align-items-center" role="alert">
    <div class="flex-shrink-0 me-2"><i class="bi bi-train-front text-info"></i></div>
    <div>
        Sorry, the time to register and place your bet has passed, and this train has left the station. Check your
        progress in the <a href="leaderboard">leaderboard</a>.
    </div>
</div>

<div th:if="${league.isBeforeStart()}">

    <div th:if="${!user.isPaid()}" class="alert alert-danger d-flex align-items-center" role="alert">
        <div class="flex-shrink-0 me-2"><i class="bi bi-send-exclamation-fill text-danger"></i></div>
        <div>
            We have not registered your payment yet. Make sure you have sent <strong>5€</strong> to <span
                class="badge bg-info text-dark">639773402</span> through Bizum or contact us if you have already paid a
            few days ago.
        </div>
    </div>
    <div th:if="${form.hasMissingBets()}" class="alert alert-warning d-flex align-items-center" role="alert">
        <div class="flex-shrink-0 me-2"><i class="bi bi-database-fill-exclamation text-warning"></i></div>
        <div>
            You still have some missing bets, please review them carefully.
        </div>
    </div>
    <div th:if="${form.areAllBetsPlaced()}" class="alert alert-success d-flex align-items-center" role="alert">
        <div class="flex-shrink-0 me-2"><i class="bi bi-database-fill-check text-success"></i></div>
        <div>
            All bets are set, remember you have until <span th:text="${league.getFormattedStart()}">the day before the first match</span> to make any modifications.
        </div>
    </div>

    <form action="#" th:action="@{bet}" th:object="${form}" method="post">

        <div class="row justify-content-center">

            <div th:if="${errors?.hasErrors()}" class="alert alert-danger d-flex align-items-center" role="alert">
                <div class="flex-shrink-0 me-2"><i class="bi bi-exclamation-triangle-fill text-danger"></i></div>
                <div>There were errors setting some of your bets. Please review them and fix.</div>
            </div>

            <table class="table table-striped table-hover caption-top" style="width: 1px;">
                <thead class="table-dark" style="text-align: center;">
                <td colspan="7">Match</td>
                </thead>
                <tbody class="table-group-divider">
                <!-- TODO this coloring condition gave problems when all bets were set -->
                <!--
                <tr th:each="bet, itemStat: *{bets}" th:classappend="${(errors?.hasFieldErrors('bets['+itemStat.index+'].home') || errors?.hasFieldErrors('bets['+itemStat.index+'].away'))?'table-danger':((form.hasMissingBets() && !bet.isPlaced())?'table-warning':'')}">
                -->
                <tr th:each="bet, itemStat: *{bets}"
                    th:classappend="${(form.hasMissingBets() && !bet.isPlaced())?'table-warning':''}">
                    <td><img th:src="${league.getFixtureById(bet.getFixtureId()).getHome().getIcon()}" width="16"
                             height="12"/>
                    </td>
                    <td th:text="${league.getFixtureById(bet.getFixtureId()).getHome().getName()}"
                        style="text-align: right; white-space: nowrap;">
                        HomeName
                    </td>
                    <td>
                        <input class="form-check-input" type="hidden" value=""
                               th:field="*{bets[__${itemStat.index}__].id}">
                        <input class="form-check-input" type="hidden" value=""
                               th:field="*{bets[__${itemStat.index}__].email}">
                        <input class="form-check-input" type="hidden" value=""
                               th:field="*{bets[__${itemStat.index}__].fixtureId}">
                        <div class="input-group has-validation">
                            <input class="form-check-input" type="text" value=""
                                   style="width: 1.5em; height: 1.2em; text-align: center;"
                                   th:field="*{bets[__${itemStat.index}__].home}"
                                   th:classappend="${errors?.hasFieldErrors('bets['+itemStat.index+'].home')}?is-invalid">
                        </div>
                    </td>
                    <td>-</td>
                    <td>
                        <div class="input-group has-validation">
                            <input class="form-check-input" type="text" value=""
                                   style="width: 1.5em; height: 1.2em; text-align: center;"
                                   th:field="*{bets[__${itemStat.index}__].away}"
                                   th:classappend="${errors?.hasFieldErrors('bets['+itemStat.index+'].away')}?is-invalid">
                        </div>
                    </td>
                    <td th:text="${league.getFixtureById(bet.getFixtureId()).getAway().getName()}"
                        style="text-align: left; white-space: nowrap;">
                        AwayName
                    </td>
                    <td><img th:src="${league.getFixtureById(bet.getFixtureId()).getAway().getIcon()}" width="16"
                             height="12">
                    </td>
                </tr>
                </tbody>

            </table>
            <div class="row justify-content-center">
                <input class="col-2 btn btn-primary" type="submit" id="submitButton" th:value="Save">
            </div>
        </div>
    </form>
</div>