<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${pageTitle +' - '+ league.getName() + ' ' + league.getSeason()}">Page title - League Season</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <style>
        @media print {
            .pagebreak { page-break-before: always; } /* page-break-after works, as well */
        }
    </style>
</head>
<body>
<script src="/js/confetti.js"></script>
<div class="container">
    <nav class="d-print-none navbar navbar-dark bg-dark navbar-expand-lg rounded">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:text="${league.getName()+' '+league.getSeason()}">League Season</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${page.equals('rules')}?active" href="rules">Rules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${page.equals('leaderboard')}?active"
                           href="leaderboard">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${page.equals('calendar')}?active"
                           href="calendar">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${!league.hasFirstMatchStarted()}"
                           th:classappend="${page.equals('bets')}?active" href="bets">Everyone's
                            Bets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${!league.areBetsClosed()}"
                           th:classappend="${page.equals('bet')}?active" href="bet">Manage my
                            Bet</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" th:classappend="${page.equals('users')}?active" href="users">Manage
                            Users</a>
                    </li>

                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user == null}" th:classappend="${page.equals('login')}?active"
                           href="login">Log In</a>
                        <form th:if="${user != null}" action="logout" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <button type="submit" class="nav-link btn btn-link"
                                    th:classappend="${page.equals('logout')}?active">Log out
                            </button>
                        </form>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="bg-light" style="padding-top:2em;padding-bottom:2em;">
        <h1 class="text-center" th:text="${league.getName()+' '+league.getSeason()}">League Season</h1>
        <h2 class="text-center" th:text="${pageTitle}">Page title</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <th:block th:insert="${page}"></th:block>
            </div>
        </div>
    </div>
    <footer class="d-print-none bg-light text-center text-lg-start">
        <div class="text-center p-3 bg-dark rounded text-light row">
            <div class="col-4 text-secondary" th:if="${version}"><a class="text-secondary"
                                                                    href="https://github.com/kettoleon/sweepstakes">Sweepstakes</a>
                v<a class="text-secondary" href="https://github.com/kettoleon/sweepstakes/blob/master/CHANGELOG.md"
                    th:text="${version}"></a></div>
            <div class="col-4">
                Made with &#10084; by
                <a class="text-light" href="https://github.com/kettoleon">kettoleon</a>.
            </div>
        </div>
    </footer>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
