<div th:if="${league.isBeforeStart()}">
    <p>The leaderboard will be enabled during the first match of the season. It will show everyone's points and
        positions as the league progresses. It will automatically update itself live during a match.</p>
    <p>After the bet form is closed at <span th:text="${league.getFormattedStart()}"></span> and before the first match
        at <span th:text="${league.formatTime(league.getFirstMatchTime())}"></span>, we will print a copy of
        <a href="bets">everyone's bets</a> and send it to everyone by e-mail.</p>
    <p>In the meantime, make sure you have <a href="bet">placed your bet</a> and sent <strong>5€</strong> to <span
            class="badge bg-info text-dark">639773402</span> through Bizum!</p>
    <div class="text-center"><i style="font-size: 5em;color: burlywood;" class="bi-calendar-heart text-center"></i>
    </div>
</div>
<div th:if="${!league.isBeforeStart() && !league.hasFirstMatchStarted()}">
    <p>The leaderboard will be enabled during the first match of the season. It will show everyone's points and
        positions as the league progresses. It will automatically update itself live during a match.</p>
    <p>You can now check <a href="bets">everyone's bets</a> and print them into a pdf, if you haven't received the
        e-mail.</p>
    <p>If you see we haven't registered your payment yet, contact us before the first match starts!</p>
    <p>Only remaining thing is to wait for the first match to start! Hyped already?</p>
    <div class="text-center"><i style="font-size: 5em;color: burlywood;" class="bi-smartwatch"></i></div>
</div>
<div th:if="${league.hasFirstMatchStarted()}" class="row justify-content-center">
    <p class="text-center">Want a more <a href="tracking">detailed view</a>?</p>
    <!-- <p>You have paid, but your user does not appear here? Contact us.</p> TODO only show if there are enabled users that have not paid? -->
    <table
            class="table table-sm table-hover caption-top"
            th:classappend="${leaderboard.isAnyFixtureStarted()?'':'table-striped'}"
            style="width: 1px;"
    >
        <caption th:if="${lastUpdate != null && nextUpdate != null}">Last update: <span th:text="${lastUpdate}"></span>, Next update: <span th:text="${nextUpdate}"></span></caption>
        <thead>
        <tr>
            <th data-toggle="tooltip" data-placement="top" title="Position">Pos</th>
            <th class="text-nowrap">Name</th>
            <th class="text-nowrap" data-toggle="tooltip" data-placement="top" title="Points">Pts</th>
            <th class="text-nowrap" data-toggle="tooltip" data-placement="top" title="Exact Guesses">EG</th>
            <th class="text-nowrap" data-toggle="tooltip" data-placement="top" title="Prize">€</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">

        <tr th:if="${leaderboard.isAnyFixtureStarted()}" th:each="entry: ${leaderboard.getLeaderboardEntries()}"
            class="bg-gradient"
            th:classappend="${entry.positionDelta() > 0 ? 'text-dark text-bg-success bg-opacity-50' : (entry.positionDelta() < 0 ? 'text-dark text-bg-warning bg-opacity-50':'text-dark text-bg-info bg-opacity-50')}"
        >
            <td class="text-nowrap" th:text="${entry.getPosition()}">1</td>
            <td class="text-nowrap" th:text="${entry.getUserName()}">UserName</td>
            <td class="text-nowrap" th:text="${entry.getPoints()}">0</td>
            <td class="text-nowrap" th:text="${entry.getProgressExactPredictions()}">0</td>
            <td class="text-nowrap" style="text-align:right;" th:text="${leaderboard.moneyFormat(entry.getPrize())}">0</td>
        </tr>

        <tr th:if="${!leaderboard.isAnyFixtureStarted()}" th:each="entry: ${leaderboard.getLeaderboardEntries()}"
            class="bg-gradient"
            th:style="${(entry.getFinishedPosition() == 1)?'background-color:gold;':((entry.getFinishedPosition() == 2)?'background-color:silver;':((entry.getFinishedPosition() == 3)?'background-color:#CD7F32;':''))}"
        >
            <td class="text-nowrap" th:classappend="${entry.isOutOfChances()?'text-muted font-italic':''}" th:text="${entry.getPosition()}">1</td>
            <td class="text-nowrap" th:classappend="${entry.isOutOfChances()?'text-muted font-italic':''}" th:text="${entry.getUserName()}">UserName</td>
            <td class="text-nowrap" th:classappend="${entry.isOutOfChances()?'text-muted font-italic':''}" th:text="${entry.getPoints()}">0</td>
            <td class="text-nowrap" th:classappend="${entry.isOutOfChances()?'text-muted font-italic':''}" th:text="${entry.getProgressExactPredictions()}">0</td>
            <td class="text-nowrap" th:classappend="${entry.isOutOfChances()?'text-muted font-italic':''}" style="text-align:right;" th:text="${leaderboard.moneyFormat(entry.getPrize())}">0</td>
        </tr>

        </tbody>
    </table>
</div>