<div class="text-center" th:if="${league.isBeforeStart()}">
    <p>The leaderboard will be enabled during the first match of the season. It will show everyone's points and
        positions as the match progresses.</p>
    <p>After the bet form is closed at <span th:text="${league.getFormattedStart()}"></span> and before the first match
        at <span th:text="${league.formatTime(league.getFirstMatchTime())}"></span>, you will be able to print a sheet
        with everyone's bets. (We will do it ourselves and send it to everyone by e-mail)</p>
    <p>In the meantime, make sure you have <a href="bet">placed your bet</a>!</p>
    <i style="font-size: 5em;color: burlywood;" class="bi-calendar-heart"></i>
</div>
<div class="text-center" th:if="${!league.isBeforeStart() && !league.hasFirstMatchStarted()}">
    <p>The leaderboard will be enabled during the first match of the season. It will show everyone's points and
        positions as the match progresses.</p>
    <p>You can now see <a href="tracking">everyone's bets</a> and print them into a pdf, if you haven't received the
        e-mail.</p>
    <p>Only remaining thing is to wait for the first match to start!</p>
    <i style="font-size: 5em;color: burlywood;" class="bi-smartwatch"></i>
</div>
<div class="text-center" th:if="${league.hasFirstMatchStarted()}">
    <p>Want a more <a href="tracking">detailed view</a>?</p>

    <table
            class="table table-sm table-hover caption-top"
            th:classappend="${leaderboard.isAnyFixtureStarted()?'':'table-striped'}"
            style="width: 1px;"
    >
        <thead>
        <tr>
            <th>Position</th>
            <th class="text-nowrap">Name</th>
            <th class="text-nowrap">Points</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">

        <tr th:if="${leaderboard.isAnyFixtureStarted()}" th:each="entry: ${leaderboard.getLeaderboardEntries()}"
            class="bg-gradient"
            th:classappend="${entry.positionDelta() > 0 ? 'text-dark text-bg-success bg-opacity-50' : (entry.positionDelta() < 0 ? 'text-dark text-bg-warning bg-opacity-50':'text-dark text-bg-info bg-opacity-50')}"
        >
            <td class="text-nowrap" th:text="${entry.getPosition()}">1</td>
            <td class="text-nowrap" th:text="${entry.getUserName()}">UserName</td>
            <td class="text-nowrap" th:text="${entry.getPoints()}">0</td>
        </tr>

        <tr th:if="${!leaderboard.isAnyFixtureStarted()}" th:each="entry: ${leaderboard.getLeaderboardEntries()}"
            class="bg-gradient"
            th:style="${((entry.getFinishedPosition() == 1)?'background-color:gold;':(entry.getFinishedPosition() > 1 && entry.getFinishedPosition() < 4)?'background-color:silver;':'')}"
        >
            <td class="text-nowrap" th:text="${entry.getPosition()}">1</td>
            <td class="text-nowrap" th:text="${entry.getUserName()}">UserName</td>
            <td class="text-nowrap" th:text="${entry.getPoints()}">0</td>
        </tr>

        </tbody>
    </table>
</div>