<div style="text-align:center;">
    Select scenario to set up:
    <ul>
        <li><a href="/localdev/beforeLeagueStarts">Before League Starts</a></li>
        <li><a href="/localdev/beforeFirstMatch">Before First Match</a></li>
        <li><a href="/localdev/duringFirstMatch">During First Match</a></li>
        <li><a href="/localdev/afterFirstMatch">After First Match</a></li>
        <li><a href="/localdev/duringAnotherMatch">During Another Match</a></li>
        <li><a href="/localdev/beforeLastMatch">Before Last Match</a></li>
        <li><a href="/localdev/afterLastMatch">After Last Match</a></li>
    </ul>

</div>
<div class="col-auto" style="text-align:left;" th:insert="calendar">
</div>