<p>1. Go to <a href="bet">Manage my Bet</a> to register with your workplace account and place your bet.</p>
<p>You will be able to <strong>modify your bet until
    <span th:text="${league.getFormattedStart()}">the day before the first match</span>.</strong></p>
<p>After that time, the page to set your bet will be automatically disabled.</p>
<p>2. You will earn points each match according to the rules below:</p>
<ul>
    <li>+3 points for guessing the result (win or tie)</li>
    <li>+1 point for guessing a team's number of goals (max +2)</li>
    <li>+2 bonus points for guessing the exact result</li>
</ul>
<table class="table table-sm table-striped table-hover caption-top" style="width: 1px;">
    <caption>Examples:</caption>
    <thead class="table-dark" style="text-align: center;">
    <td style="white-space: nowrap;">Bet</td>
    <td style="white-space: nowrap;">Real</td>
    <td style="white-space: nowrap;">Win or tie</td>
    <td style="white-space: nowrap;">Number of goals</td>
    <td style="white-space: nowrap;">Exact result</td>
    <td style="white-space: nowrap;">Total</td>
    </thead>
    <tbody class="table-group-divider">
    <tr>
        <td style="white-space: nowrap;">2-1</td>
        <td style="white-space: nowrap;">0-0</td>
        <td style="white-space: nowrap;">+0</td>
        <td style="white-space: nowrap;">+0</td>
        <td style="white-space: nowrap;">+0</td>
        <td style="white-space: nowrap;">0 Pts.</td>
    </tr>
    <tr>
        <td style="white-space: nowrap;">3-1</td>
        <td style="white-space: nowrap;">0-1</td>
        <td style="white-space: nowrap;">+0</td>
        <td style="white-space: nowrap;">+1</td>
        <td style="white-space: nowrap;">+0</td>
        <td style="white-space: nowrap;">1 Pts.</td>
    </tr>
    <tr>
        <td style="white-space: nowrap;">3-1</td>
        <td style="white-space: nowrap;">1-0</td>
        <td style="white-space: nowrap;">+3</td>
        <td style="white-space: nowrap;">+0</td>
        <td style="white-space: nowrap;">+0</td>
        <td style="white-space: nowrap;">3 Pts.</td>
    </tr>
    <tr>
        <td style="white-space: nowrap;">3-0</td>
        <td style="white-space: nowrap;">2-0</td>
        <td style="white-space: nowrap;">+3</td>
        <td style="white-space: nowrap;">+1</td>
        <td style="white-space: nowrap;">+0</td>
        <td style="white-space: nowrap;">4 Pts.</td>
    </tr>
    <tr>
        <td style="white-space: nowrap;">3-1</td>
        <td style="white-space: nowrap;">3-1</td>
        <td style="white-space: nowrap;">+3</td>
        <td style="white-space: nowrap;">+2</td>
        <td style="white-space: nowrap;">+2</td>
        <td style="white-space: nowrap;">7 Pts.</td>
    </tr>
    </tbody>
</table>
<p>3. You need to send <strong>5€</strong> to <span class="badge bg-info text-dark">637129284</span> through Bizum
    before <span th:text="${league.getFormattedStart()}">the day before the first match</span>.
    Make sure you register here with a name that we can correlate with the Bizum payment.
    If you have not paid by the time we check, (before the first match) your account will be disabled.</p>
<p>4. There are awards for the three first places distributed as below:</p>
<ul>
    <li>70% first place, 20% second place, 10% third place</li>
    <li>In case multiple participants have the same amount of points, the number of exact predictions will be used to
        break the tie.
    </li>
    <li>If even after that, there is still a tie, the award will be divided in equal parts.</li>
</ul>
<p>5. Points of contact to clarify any doubts:</p>
<table class="table table-sm table-striped table-hover caption-top" style="width: 1px;">
    <thead class="table-dark" style="text-align: center;">
    <td style="white-space: nowrap;">Address</td>
    </thead>
    <tbody class="table-group-divider">
    <tr th:each="contact: ${contacts}">
        <td><a th:href="'mailto:'+${contact.getEmail()}" th:text="${contact.getEmail()}">someone@gmail.com</a></td>
    </tr>
    </tbody>
</table>
<p>6. For transparency:</p>
<ul>
    <li>Before the first match, all participants will receive an e-mail with <a href="bets">everyone's
        bets</a>.
    </li>
    <li>This app's code is <a href="https://github.com/kettoleon/sweepstakes">available in github</a> if anyone wants
        to have a look.
    </li>
</ul>
<p>7. During the <span th:text="${league.getName()+' '+league.getSeason()}">League Season</span>, everyone will be able to <a href="leaderboard">check the leaderboard</a>. Which will be
    updated during the matches to show the positions everyone is advancing or losing.
</p>
<p>8. Thanks for participating!</p>
<div th:if="${league.isBeforeStart()}" style="text-align:center;"><a class="btn btn-primary" href="register"
                                                                     role="button">Register</a></div>