<div th:if="${page.equals('bets')}" class="row">

    <div th:if="${league.isBeforeStart()}">
        <p>Here are the bets that people are placing. The form is still open so this data will be changing.</p>
    </div>
    <div th:if="${!league.isBeforeStart()}">
        <p>Here is a copy of everyone's bets to keep track of.</p>
        <div class="text-center d-print-none">
            <a class="btn btn-primary" href="register" role="button"
               onclick="window.print();return false;">Print me!</a>
            <p>You can print it to keep track of the points manually.</p>
        </div>
    </div>
    <div th:if="${league.hasFirstMatchStarted()}" class="d-print-none">
        <p>The League has already started, maybe you were looking for the <a href="tracking">leaderboard details</a>?
        </p>
    </div>

    <div class="row justify-content-center">
        <table class="table table-sm table-striped table-hover caption-top" style="width: 1px;">
            <caption>Prizes:</caption>
            <tbody>
            <tr class="bg-gradient" style="background-color:gold;">
                <td style="white-space: nowrap;">First Place (70%)</td>
                <td style="white-space: nowrap; text-align:right;" th:text="${leaderboard.moneyFormat(leaderboard.getPrizeFirst())}"></td>
            </tr>
            <tr class="bg-gradient" style="background-color:silver;">
                <td style="white-space: nowrap;">Second Place (20%)</td>
                <td style="white-space: nowrap; text-align:right;" th:text="${leaderboard.moneyFormat(leaderboard.getPrizeSecond())}"></td>
            </tr>
            <tr class="bg-gradient" style="background-color:#CD7F32;">
                <td style="white-space: nowrap;">Third Place (10%)</td>
                <td style="white-space: nowrap; text-align:right;" th:text="${leaderboard.moneyFormat(leaderboard.getPrizeThird())}"></td>
            </tr>
            <tr class="table-dark table-group-divider">
                <th style="white-space: nowrap;">Total Pot</th>
                <th style="white-space: nowrap; text-align:right;" th:text="${leaderboard.moneyFormat(leaderboard.getPot())}"></th>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-center">
        <table class="table table-sm table-striped table-hover caption-top" style="width: 1px;">
            <caption>Legend:</caption>
            <thead class="table-dark" style="text-align: center;">
            <td style="white-space: nowrap;">Symbol</td>
            <td style="white-space: nowrap;">Meaning</td>
            </thead>
            <tbody class="table-group-divider">
            <tr>
                <td style="white-space: nowrap;"><i class="bi bi-send-exclamation-fill text-danger"></i></td>
                <td style="white-space: nowrap;">we have not received a payment from that user</td>
            </tr>
            <tr>
                <td style="white-space: nowrap;"><i class="bi bi-database-fill-exclamation text-warning"></i></td>
                <td style="white-space: nowrap;">the user did not place a bet for this fixture</td>
            </tr>
            <tr>
                <td style="white-space: nowrap;">Bet</td>
                <td style="white-space: nowrap;">the prediction the user made</td>
            </tr>
            <tr>
                <td style="white-space: nowrap;">RP</td>
                <td style="white-space: nowrap;">result points, if user predicted the result (win or tie) (+3pts)</td>
            </tr>
            <tr>
                <td style="white-space: nowrap;">GP</td>
                <td style="white-space: nowrap;">goal points, if user predicted the goals numbers (max +2pts)</td>
            </tr>
            <tr>
                <td style="white-space: nowrap;">BP</td>
                <td style="white-space: nowrap;">bonus points, if user predicted the exact result (+2pts)</td>
            </tr>
            <tr>
                <td style="white-space: nowrap;">TP</td>
                <td style="white-space: nowrap;">total points, total of points of the user for that group of fixtures
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div th:if="${page.equals('tracking')}" class="row">
    <p>Here is a detailed view of the current leaderboard calculations. See the legend at the
        bottom. Points only sum towards the total if the match is finished.</p>
</div>

<th:block th:each="group: ${leaderboard.getDetailedLeaderboardGroups()}">
    <div class="row pagebreak"></div>
    <div class="row justify-content-center">
        <table
                class="table table-sm table-striped table-hover caption-top table-bordered font-monospace"
                style="width: 1px; font-size:12px;"
                th:with="fixtures=${group.getFixtures()}"
        >
            <thead>
            <tr class="text-nowrap text-center bg-dark text-light">
                <th th:colspan="${group.getFixtures().size()*4+2}" th:text="${group.getName()}">Nov 20</th>
            </tr>
            <tr>
                <th></th>
                <th scope="col" class="text-nowrap bg-light"
                    style="border-left: 2px solid currentcolor; text-align: center;"
                    th:each="fixture: ${fixtures}"
                    colspan="4"
                >
                    <img th:src="${fixture.getHome().getIcon()}" width="16" height="12"/>
                    <span th:text="${fixture.getHome().getCode()+ ' - '+ fixture.getAway().getCode() }">Home - Away</span>
                    <img th:src="${fixture.getAway().getIcon()}" width="16" height="12"/>
                </th>
                <th style="border-left: 2px solid currentcolor;"></th>
            </tr>
            <tr>
                <th style="border-top-style: hidden;"></th>
                <th scope="col" class="text-nowrap"
                    style="border-left: 2px solid currentcolor; text-align: center;"
                    th:each="fixture: ${fixtures}"
                    colspan="4"
                >

                    <div th:if="${fixture.isStartedOrFinished()}">
                        <span>&#9917;</span>
                        <span th:text="${leaderboard.getFixtureResult(fixture)}"></span>
                        <span th:if="${fixture.isFinished()}">&check;</span>
                        <span th:if="${fixture.isStarted()}">
                                <div class="spinner-border text-primary spinner-border-sm" role="status">
                                  <span class="visually-hidden">Loading...</span>
                                </div>
                            </span>
                    </div>
                    <div class="d-print-none" th:if="${!fixture.isStartedOrFinished()}">-</div>

                </th>
                <th style="border-top-style: hidden; border-left: 2px solid currentcolor;"></th>
            </tr>
            <tr>
                <th class="text-nowrap" style="border-top-style: hidden;">Name</th>
                <th:block th:each="fixture: ${fixtures}">
                    <th style="border-left: 2px solid currentcolor;">Bet</th>
                    <th>RP</th>
                    <th>GP</th>
                    <th>BP</th>
                </th:block>
                <th style="border-top-style: hidden; border-left: 2px solid currentcolor;">TP</th>
            </tr>
            </thead>
            <tbody class="table-group-divider ">
            <tr th:each="user: ${leaderboard.getParticipatingUsers()}" th:classappend="${!user.isPaid()?'table-danger':''}">
                <td class="text-nowrap">
                    <span th:if="${!user.isPaid()}"><i class="bi bi-send-exclamation-fill text-danger"></i></span>
                    <span th:text="' '+${user.getName()}">UserName</span></td>
                <th:block th:each="fixture: ${fixtures}"
                          th:with="betinfo=${leaderboard.getBetInfo(user.getEmail(), fixture.getId())}">
                    <td style="border-left: 2px solid currentcolor;" class="text-nowrap"
                        th:classappend="${betinfo.getBet().equals('NP')?'table-warning':''}"
                    >
                        <i th:if="${betinfo.getBet().equals('NP')}"
                           class="text-warning bi bi-database-fill-exclamation"></i>
                        <span th:if="${!betinfo.getBet().equals('NP')}" th:text="${betinfo.getBet()}">2-1</span>
                    </td>
                    <th:block th:if="${fixture.isFinished()}">
                        <td th:text="${'+'+betinfo.getResultPoints()}"></td>
                        <td th:text="${'+'+betinfo.getGoalPoints()}"></td>
                        <td th:text="${'+'+betinfo.getBonusPoints()}"></td>
                    </th:block>
                    <th:block th:if="${fixture.isStarted()}">
                        <td class="text-secondary" th:text="${'+'+betinfo.getResultPoints()}"></td>
                        <td class="text-secondary" th:text="${'+'+betinfo.getGoalPoints()}"></td>
                        <td class="text-secondary" th:text="${'+'+betinfo.getBonusPoints()}"></td>
                    </th:block>
                    <th:block th:if="${!fixture.isStartedOrFinished()}">
                        <td></td>
                        <td></td>
                        <td></td>
                    </th:block>
                </th:block>
                <td style="border-left: 2px solid currentcolor;">
                        <span th:if="${group.isAnyFixtureStartedOrFinished()}"
                              th:text="'+'+${leaderboard.getUserTotalPoints(user, group)}">+0</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</th:block>

<div class="row pagebreak"></div>
<div class="row justify-content-center">
    <table
            class="table table-sm table-striped table-hover caption-top table-bordered font-monospace"
            style="width: 1px; font-size:12px;"
            th:with="groups=${leaderboard.getDetailedLeaderboardGroups()}"
    >
        <thead>
        <tr class="text-nowrap text-center bg-dark text-light">
            <th th:colspan="${groups.size()+2}">Totals</th>
        </tr>
        <tr>
            <th class="text-nowrap">Name</th>
            <th th:each="group: ${groups}" th:text="${group.getName()}">Nov 20</th>
            <th style="border-left: 2px solid currentcolor;">TP</th>
        </tr>
        </thead>
        <tbody class="table-group-divider ">
        <tr th:each="user: ${leaderboard.getParticipatingUsers()}" th:classappend="${!user.isPaid()?'table-danger':''}">
            <td class="text-nowrap">
                <span th:if="${!user.isPaid()}"><i class="bi bi-send-exclamation-fill text-danger"></i></span>
                <span th:text="' '+${user.getName()}">UserName</span>
            </td>
            <td class="text-nowrap" th:each="group: ${groups}">
                <span th:if="${group.isAnyFixtureFinished()}"
                      th:text="'+'+${leaderboard.getUserTotalPoints(user, group)}">+0</span>
            </td>
            <td style="border-left: 2px solid currentcolor;">
                        <span th:if="${leaderboard.isAnyFixtureFinished()}"
                              th:text="${leaderboard.getUserTotalPoints(user)}">0</span>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<div th:if="${page.equals('tracking')}" class="row justify-content-center">
    <table class="table table-sm table-striped table-hover caption-top" style="width: 1px;">
        <caption>Legend:</caption>
        <thead class="table-dark" style="text-align: center;">
        <td style="white-space: nowrap;">Symbol</td>
        <td style="white-space: nowrap;">Meaning</td>
        </thead>
        <tbody class="table-group-divider">
        <tr>
            <td style="white-space: nowrap;"><i class="bi bi-send-exclamation-fill text-danger"></i></td>
            <td style="white-space: nowrap;">we have not received a payment from that user</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;"><i class="bi bi-database-fill-exclamation text-warning"></i></td>
            <td style="white-space: nowrap;">the user did not place a bet for this fixture</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Bet</td>
            <td style="white-space: nowrap;">the prediction the user made</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">RP</td>
            <td style="white-space: nowrap;">result points, if user predicted the result (win or tie) (+3pts)</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">GP</td>
            <td style="white-space: nowrap;">goal points, if user predicted the goals numbers (max +2pts)</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">BP</td>
            <td style="white-space: nowrap;">bonus points, if user predicted the exact result (+2pts)</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">TP</td>
            <td style="white-space: nowrap;">total points, total of points of the user for that group of fixtures</td>
        </tr>
        </tbody>
    </table>
</div>